@font-face {
    font-family: 'old-school';
    src: url('fonts/old_school_united_stencil.ttf'),
         url('fonts/old_school_united_stencil_italic.ttf');
}

body {
    font-family: 'Poppins', sans-serif;;
}

.logo {
    font-family: 'old-school';
    font-style: italic;
    font-size: 1.5rem;
}

.nav-item > .active {
    color: #ff5900 !important;
}

.lead {
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
}

article > p {
    text-align: justify;
}

.blockquote {
    font-weight: 600;
    font-style: italic;
}

.article-img {
    border-radius: 20px;
    border: 3px solid #ff5900;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, .8);
    margin-top: 20px;
    margin-bottom: 20px;
}

figure {
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*Menu videos*/
.custom-bg {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;  /* Define a cor do texto para branco */
    width: fit-content;  /* Ajusta a largura ao conteúdo do texto */
    padding: 10px;  /* Adiciona um preenchimento para melhor legibilidade */
}

#meuSlider{
    border-radius: 15px;
    border: 3px solid #ff5900;
}
#meuSlider.carousel img {
    border-radius: 15px;
}

.flexible-row {
  display: flex;
  flex-wrap: wrap;
}

.card-video {
  width: 300px;
  height: 284.78px;
  background: #ffffff;
  padding: .4em;
  border-radius: 6px;
  margin-right: 2rem;
}

.card-videos {
  background-color: #ececec;
  width: 300px;
  height: 168.7px;
  border-radius: 15px;
}

.heading-videos {
  font-weight: 600;
  color: #6b6b6b;
  padding: 7px;
  padding-top: 10px;
}

.heading-videos:hover {
  cursor: pointer;
}

.author {
  color: #525252;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .flexible-row {
    justify-content: center; /* Centraliza os vídeos em dispositivos móveis */
  }

  .card-video {
    width: 100%;
    height: 354px;
    max-width: none; /* Remove a largura máxima para ocupar toda a largura disponível */
    margin-right: 0; /* Remove a margem direita */
    margin-bottom: 2rem; /* Mantém a margem inferior para espaçamento */
  }

  .card-videos, iframe {
    width: 100%;
    max-width: none; /* Remove a largura máxima para ocupar toda a largura disponível */
    height: 214px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/


/*Menu galeria de fotos*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s;
  align-self: start;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Lightbox (inicialmente escondido) */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* Menu Contato*/

