@font-face {
    font-family: 'old-school';
    src: url('fonts/old_school_united_stencil.ttf'),
         url('fonts/old_school_united_stencil_italic.ttf');
}

body {
    font-family: 'Poppins', sans-serif;;
}

.logo {
    font-family: 'old-school';
    font-style: italic;
    font-size: 1.5rem;
}

.nav-item > .active {
    color: #ff5900 !important;
}

.lead {
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
}

article > p {
    text-align: justify;
}

.blockquote {
    font-weight: 600;
    font-style: italic;
}

.article-img {
    border-radius: 20px;
    border: 3px solid #ff5900;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, .8);
    margin-top: 20px;
    margin-bottom: 20px;
}

figure {
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

/*Menu videos*/
.custom-bg {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;  /* Define a cor do texto para branco */
    width: fit-content;  /* Ajusta a largura ao conteúdo do texto */
    padding: 10px;  /* Adiciona um preenchimento para melhor legibilidade */
}

#meuSlider{
    border-radius: 15px;
    border: 3px solid #ff5900;
}
#meuSlider.carousel img {
    border-radius: 15px;
}
